*{
    padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
}

/* .center{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
} */

.clear{
    clear: both;
}

header .container{
    margin-top: 170px;
}



/* NAV */
/* ====================================================================================================== */
/* DESKTOP */


.nav-header{
    width: 100%;
    background-color: #8447ff;
    margin: 0 auto;
    max-height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
}

.logo{
    color: white;
    font-size: 30px;
    float: left;
    padding: 12px;
    margin-left: 30px;
}

.mobile{
    display: none;
    background-image: url('../imagens/Icons/menu-icon.svg');
    background-repeat: no-repeat;
    width: 40px;
	height: 40px;
	margin-right: 25px;
	background-size: 100% 100%;
    float: right;
    margin-top:15px;
    cursor: pointer;
}

nav.mobile ul{
    display: none;
    background-color: #8952f5;
    width: 100%;
    position: absolute;
    top: -80px;
    left: 0;
    text-align: center;
    z-index: 99;
}

nav.mobile li{
	border-bottom: 3px solid #a97eff;
	padding: 20px 0;
}


nav.mobile a{ 
    color: white;

}

nav.desktop ul{
    float: right;
    margin-right: 20px;
}

nav.desktop li{
    float: left;
    font-size: 18px;
    margin: 20px 20px;
}

nav.desktop a{
    color: white;
    font-weight: 00;
}

nav.desktop a:hover{
    color: #8cffda;
}

/* ===========================================================================================*/
/* INITIAL */


.header-texto p{
    color: #7161EF;
}

.header-texto p:nth-of-type(1){
    font-size: 50px;
}

.header-texto p:nth-of-type(2){
    font-size: 30px;
}

header .botao-contrate{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    font-weight: light;
    background-color: #0CCE6B;
    color: white;
    margin-top: 30px;
}

header .botao-contrate:hover{
    background-color: #231B1B;
}

header .social-box{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 350px;

}

header .social-icon{
    margin-right: 10px;
}

header .icon-wraper{
    background-color: rgba(35, 27, 27, 0.3);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

header .icon-wraper:hover{
    position: relative;
    top: -3px;
}

header .social-icon i{
    font-size: 40px;
    position: absolute;
    left: 13px;
}

header .i-wraper{
    position: relative;
    top: -20px;
}

header i.fa-instagram{
    color: #7161EF;
}

header i.fa-instagram:hover{
    color: #231B1B;
}

header i.fa-envelope{
    color: #7161EF;
    position: relative;
    left: 10px;
    top: 20px;
}

header i.fa-envelope:hover{
    color: #231B1B;
}

header i.fa-whatsapp{
    color: #7161EF;
}

header i.fa-whatsapp:hover{
    color: #231B1B;
}

header i.fa-linkedin-in{
    color: #7161EF;
}

header i.fa-linkedin-in:hover{
    color: #231B1B;
}

header i.fa-github{
    color: #7161EF;
    font-size: 50px;
    position: relative;
    left: 6.5px;
    top: 20px;
}

header i.fa-github:hover{
    color: #231B1B;
}

/* IMG */
.img-box{
	position: relative;
	top: -10px;
	width: 350px;
    height: 350px;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: rgba(35, 27, 27, 0.5);
    margin: 0 auto;
}

.img-me{
	position: absolute;
	left: 18px;
	top: 18px;
	width: 90%;
	height: 90%;
	border-radius: 100%;
	background-image: url('../imagens/img-me-header.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #8778f8;
}



/* ==============================================================================================
============================================================================================= */
section.sobre .libelula{
    width: 80px;
	height: 80px;
	position: relative;
	top: -40px;
	margin: 0 auto;
	background-image: url('../imagens/iconelibelula.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 4;
}

section.sobre{
    background-color: #918ef4;
    margin-top: 100px;
}

section.sobre .titulo-sobre{
    text-align: center;
    color: #8cffda;
    font-weight: bold;
}

.barra-titulo{
    width: 100px;
    height: 8px;
    border-radius: 5px;
    background-color: #231B1B;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
}

section.sobre .img-sobre-wraper{
    position: relative;
    width: 60%;
    height: 430px;
    background-color: #ffffff;
}

section.sobre .img-sobre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
	height: 96%;
    background-image: url('../imagens/img-me-sobre.jpeg');
	background-size: 100% 100%;
}

section.sobre .texto-titulo{
    margin-top: 20px;
    color: white;
    margin-bottom: 10px;
}

section.sobre .texto-texto{
    color: white;
    margin: 20px auto;
}

section.sobre .texto-info{
    color: white;
}

section.sobre .botao-sobre{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    font-weight: light;
    background-color: #0CCE6B;
    color: white;
    margin-top: 40px;
}

section.sobre .botao-sobre:hover{
    background-color: #231B1B;
}

.blank{
    width: 100%;
    height: 80px;
    /* background-color: red; */
}

/* ===================================================================================================
================================================================================================= */
/* HABILIDADES */
section.habilidades  .libelula{
    width: 80px;
	height: 80px;
	position: relative;
	top: -40px;
	margin: 0 auto;
	background-image: url('../imagens/iconelibelula.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 4;
}

section.habilidades {
    background-color: #bdbbf7;
}

section.habilidades .titulo-habilidades{
    text-align: center;
    color: #8cffda;
    font-weight: bold;
}

section.habilidades .barra-titulo{
    width: 100px;
    height: 8px;
    border-radius: 5px;
    background-color: #231B1B;
    position: relative;
    left: 54%;
}

section.habilidades h5{
    /* color: #8cffda; */
    font-weight: bold;
    color: #231B1B;
    margin-top: 30px;
}



section.habilidades .white-bar{
    margin: 20px 0;
    width: 300px;
    height: 30px;
    background-color: #fff;
    border-radius: 100px;
}

section.habilidades .pro-bar-html{
    width: 240px;
    background-color: #8447ff;
    height: 30px;
    border-radius: 100px;
    text-align: right;
    font-weight: bold;
    color: white;
    padding-right: 10px;
    padding-top: 3px;
}

section.habilidades .pro-bar-css{
    width: 209.9px;
    background-color: #8447ff;
    height: 30px;
    border-radius: 100px;
    text-align: right;
    font-weight: bold;
    color: white;
    padding-right: 10px;
    padding-top: 3px;
}

section.habilidades .pro-bar-js{
    width: 155px;
    background-color: #8447ff;
    height: 30px;
    border-radius: 100px;
    text-align: right;
    font-weight: bold;
    color: white;
    padding-right: 10px;
    padding-top: 3px;
}

section.habilidades .pro-bar-jquery{
    width: 180px;
    background-color: #8447ff;
    height: 30px;
    border-radius: 100px;
    text-align: right;
    font-weight: bold;
    color: white;
    padding-right: 10px;
    padding-top: 3px;
}


/* =================================================================================================
====================================================================================================
==================================================================================================== */

@media only screen and (max-width: 991px) {
    .header-texto p{
        text-align: center;
    }

    header .botao-contrate{
        margin: 0 auto;
    }
    
    header .social-box{
        margin: 20px auto;
    }

    .img-box{
        position: relative;
        top: 20px;
    }
    
    header .container{
        margin-top: 100px;
    }

    /* img-sobre */

    section.sobre .img-sobre-wraper{
        width: 80%;
        height: 430px;
    }
    

}


@media only screen and (max-width: 840px) {
    nav.desktop li{
        font-size: 15px;
        margin: 25px 15px;
    }
    
    nav.desktop a{
        color: white;
        font-weight: 00;
    }
}

@media only screen and (max-width: 770px){
    section.sobre .img-sobre-wraper{
        width: 100%;
        height: 430px;
        margin-top: 20px;
    }

    section.habilidades .titulo-hab{
        width: 400px;
        margin: 0 auto;
    }

    section.habilidades .white-bar{
        width: 400px;
        height: 30px;
        margin: 0 auto;
    }
    
    section.habilidades .pro-bar-html{
        width: 320px;
    }

    section.habilidades .pro-bar-css{
        width: 280px;
    }

    section.habilidades .pro-bar-jquery{
        width: 240px;
    }

    section.habilidades .pro-bar-js{
        width: 200px;
    }

}

@media only screen and (max-width: 720px) {
    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }

    nav.mobile ul{
		display: none;
		left: 0;
		top: 70px;
		position: absolute;
    }


}

@media only screen and (max-width: 575px){
    section.sobre .img-sobre-wraper{
        width: 60%;
        height: 430px;
        margin-top: 20px;
        margin: 5px auto;
    }

}

@media only screen and (max-width: 450px){
    section.habilidades .titulo-hab{
        width: 250px;
        margin: 0 auto;
    }

    section.habilidades .white-bar{
        width: 250px;
        height: 30px;
        margin: 0 auto;
    }
    
    section.habilidades .pro-bar-html{
        width: 200px;
    }

    section.habilidades .pro-bar-css{
        width: 175px;
    }

    section.habilidades .pro-bar-jquery{
        width: 150px;
    }

    section.habilidades .pro-bar-js{
        width: 130px;
    }
    

}

@media only screen and (max-width: 400px) {
    
    .header-texto p:nth-of-type(1){
        font-size: 40px;
    }
    
    .header-texto p:nth-of-type(2){
        font-size: 20px;
    }

    
    /* social-bpx */
    header .social-box{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 300px;
        position: relative;
        
    }

    /* header .social-icon{
        margin-right: 10px;
    }
     */
    header .icon-wraper{
        width: 45px;
        height: 45px;
        position: relative;
        left: 20px;
    }
    
    header .social-icon i{
        font-size: 30px;
        position: absolute;
        left: 13px;
    }
    
    header .i-wraper{
        position: relative;
        top: -20px;
    }
    
    header i.fa-instagram{
        color: #7161EF;
        position: relative;
        left: 10px;
        top: 20px;
    }
    
    header i.fa-envelope{
        color: #7161EF;
        position: relative;
        left: 8px;
        top: 22px;
    }
    
    header i.fa-whatsapp{
        color: #7161EF;
        position: relative;
        left: 10px;
        top: 20px;
    }
    
    header i.fa-linkedin-in{
        color: #7161EF;
        position: relative;
        left: 10px;
        top: 22px;
    }
    
    header i.fa-github{
        color: #7161EF;
        font-size: 40px;
        position: relative;
        left: 3px;
        top: 20px;
    }

    /* img */

    .img-box{
        top: -5px;
        width: 280px;
        height: 280px;
        margin: 10px auto;
    }
    
    .img-me{
        left: 15px;
        top: 15px;
        width: 90%;
        height: 90%;
    }

    header .botao-contrate{
        margin-bottom: 20px;
    }    

    section.sobre .img-sobre-wraper{
        width: 70%;
    }

}

@media only screen and (max-width: 370px) {
    section.habilidades .titulo-habilidades{
        font-size: 25px;
    }
}


@media only screen and (max-width: 350px) {
    header .social-box{
        left: -5px;
    }

    section.sobre .img-sobre-wraper{
        width: 90%;
    }

}


@media only screen and (max-width: 330px) {
    header .social-box{
        left: -10px;
    }
}